<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post" th:action="@{/registration}" id="clientForm">

    <label for="username">Логин: </label>
    <input type="text" name="username"/><br/>

    <label for="phonenumber">Телефонный номер: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Логин: </label>
    <input type="text" name="username"/><br/>

</form>
</body>
</html>